.left
  - if user_signed_in?
    .left__user
      .left__user__contents
        = link_to 'ログアウト', destroy_user_session_path, method: "delete", class: "left__user__contents__login"
        .left__user__contents__info
          .left__user__contents__info__name
            = current_user.name
          = link_to "#" do
            = icon('far', 'edit', class: "left__user__contents__info__edit")
  - else
    .left__user
      .left__user__contents
        = link_to 'ログイン', new_user_session_path, class: "left__user__contents__login"
        .left__user__contents__info
          .left__user__contents__info__name
            name
          = link_to "#" do
            = icon('far', 'edit', class: "left__user__contents__info__edit")
  .left__new
    = link_to 'アプリ投稿', "/apps/new", class: "left__new__link"
  .left__search
    .left__search__contents
      .left__search__contents__form
        = form_with url: search_apps_path, local: true, method: :get do |f|
          = f.text_field :keyword, class: "left__search__contents__form__input", placeholder: "キーワードから探す"
          = f.submit 'search', class: "left__search__contents__form__btn"
      .left__search__contents__content
        = form_with  url: search_apps_path, local:true, method: :get do |form|
          = form.collection_select :category_id, Category.all, :id, :name, {prompt: ""},{class: "left__search__contents__content__box"}
          = form.submit 'マッチング！', class: "left__search__contents__content__btn"