= render "main/sub-header"
.new
  .new__contents
    .new__contents__title アプリ投稿
    .new__contents__content
      = form_with model: @app, local: true, id:"new_app" do |f|
        .new__contents__content__name 
          .new__contents__content__headline
            .new__contents__content__headline--title アプリ名
            .new__contents__content__headline--required 必須
          = f.text_field :name, class: "new__contents__content__name__box", placeholder: "40字まで", maxlength: '40'

        .new__contents__content__description
          .new__contents__content__headline
            .new__contents__content__headline--title 説明
            .new__contents__content__headline--required 必須
          = f.text_area :description, class: "new__contents__content__description__box", placeholder: "アプリの説明を記入"

        .new__contents__content__pr
          .new__contents__content__headline
            .new__contents__content__headline--title 一言PR
            .new__contents__content__headline--required 必須
          = f.text_area :pr, class: "new__contents__content__pr__box", placeholder: "アプリの一言PRを記入"

        .new__contents__content__category
          .new__contents__content__headline
            .new__contents__content__headline--title マッチングの目的・手段など
            .new__contents__content__headline--required 必須
          .new__contents__content__category__box
            = f.collection_select :category_id, Category.all, :id, :name, {prompt: ""}, {class: "new__contents__content__category__box__select"}

        .new__contents__content__btn
          = f.submit "投稿する"

= render "main/footer"